<div>
  <h2>Tarefas</h2>
  <div *ngIf="isVisible">
    <div>
      <label for="categoria">Mostrar Somente Categoria: </label>
      <select name="selectCategory" id="selectCategory" [(ngModel)]="categoryFilter">
        <option value="">Todas</option>
        <option value="A Fazer">A Fazer</option>
        <option value="Em Desenvolvimento">Em Desenvolvimento</option>
        <option value="Finalizada">Finalizada</option>
      </select>
    </div>
    <div>
      <label for="textFilter">Filtro por Texto: </label>
      <input type="text" name="textFilter" id="textFilter" [(ngModel)]="textFilter">
    </div>
    <div *ngIf="!categoryFilter || categoryFilter === 'A Fazer'">
      <h3>A Fazer</h3>
      <ul>
        <ng-container *ngFor="let task of tasks">
          <li *ngIf="task.title.includes(textFilter) && task.status==='A Fazer'" (click)="setShowTask(task)">
            <!-- <div [ngClass]="{'atrasado': isTaskDelayed(task.date), 'no-prazo': !isTaskDelayed(task.date)}"> -->
            <div appTaskStatus [date]="task.date">
              {{ task.title | uppercase}} - {{ task.date | date: 'dd/MM/yyyy' }}
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
    <div *ngIf="!categoryFilter || categoryFilter === 'Em Desenvolvimento'">
      <h3>Em Desenvolvimento</h3>
      <ul>
        <ng-container *ngFor="let task of tasks">
          <li *ngIf="task.title.includes(textFilter) && task.status==='Em Desenvolvimento'" (click)="setShowTask(task)">
            <!-- <div [ngClass]="{'atrasado': isTaskDelayed(task.date), 'no-prazo': !isTaskDelayed(task.date)}"> -->
            <div appTaskStatus [date]="task.date">
              {{ task.title | uppercase}} - {{ task.date | date: 'dd/MM/yyyy' }}
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
    <div *ngIf="!categoryFilter || categoryFilter === 'Finalizada'">
      <h3>Finalizadas</h3>
      <ul>
        <ng-container *ngFor="let task of tasks">
          <li *ngIf="task.title.includes(textFilter) && task.status==='Finalizada'" (click)="setShowTask(task)">
            <!-- <div [ngClass]="{'atrasado': isTaskDelayed(task.date), 'no-prazo': !isTaskDelayed(task.date)}"> -->
            <div appTaskStatus [date]="task.date">
              {{ task.title | uppercase}} - {{ task.date | date: 'dd/MM/yyyy' }}
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>

  <button (click)="mostrarLista()">Mostrar Lista</button>
</div>