<header class="bg-gray-200 w-screen">
  <h1 class="font-bold text-2xl w-full text-center p-3">Quadro Kanban!</h1>
</header>
<main class="py-3 min-h-[83vh]">
  <div class="mb-1">
    <div class="border-b-2 flex justify-end">
      <button class="mr-3" (click)="setShowForm(true)" *ngIf="!showForm">Mostrar Formulário</button>
      <button class="mr-3" (click)="setShowForm(false)" *ngIf="showForm">Esconder Formulário</button>
    </div>
    <!-- <app-task-form [tasks]="listTask" ></app-task-form> -->
    <app-task-form-reactive 
      *ngIf="showForm"
      (addTask)="addNewTask($event)" 
      (editTask)="editTask($event)"
      (cancelEditting)="setEditTask(null)"
      [taskToBeEditted]="taskToBeEditted"
    ></app-task-form-reactive>
  </div>
  <div class="mb-1">
    <div class="border-b-2 flex justify-end">
      <button class="mr-3" (click)="setShowKanban(true)" *ngIf="!showKanban">Mostrar Quadro Kanban</button>
      <button class="mr-3" (click)="setShowKanban(false)" *ngIf="showKanban">Esconder Quadro Kanban</button>
    </div>
    <app-task-list [tasks]="listTask" (showTask)="setSelectedTask($event)" *ngIf="showKanban"></app-task-list>
  </div>
  
  <div>
    <div class="border-b-2 flex justify-end">
      <button class="mr-3" (click)="setShowLog(true)" *ngIf="!showLog">Mostrar Log</button>
      <button class="mr-3" (click)="setShowLog(false)" *ngIf="showLog">Esconder Log</button>
    </div>
    <app-task-table [log]="log" *ngIf="showLog"></app-task-table>
  </div>

  <div>
    <app-task-view 
      [selectedTask]="selectedTask" 
      (hideTask)="setHideTask()"
      (editTask)="setEditTask($event)"
      (deleteTask)="deleteTask($event)"
    ></app-task-view>
  </div>
</main>
<footer class="bg-gray-200 w-screen">
  <p class="text-center w-full p-3">Desenvolvido por Diego Ferreira</p>
</footer>