<div>
    <h2>Adicionar Nova Tarefa</h2>

    <form (ngSubmit)="submitTask(addForm)" #addForm="ngForm">
        <div>
            <!-- 
                Observações input title
                    -> Utiliza a referência direta #formTitle em vez de usar addForm
                    -> #formTitle precisou ser diferente de 'title' devido o [(ngModel)]="title"
                    -> Mostra o erro após o touched (não precisa submeter o form)
                    -> Utiliza a sintaxe obj?.['key'] para acessar a key de um obj que pode ser nulo
            -->
            <label for="title">Titulo: </label>
            <input id="title" type="text" [(ngModel)]="title" name="title" required minlength="3" #formTitle="ngModel">
            <ng-container *ngIf="formTitle?.touched">
                <span *ngIf="formTitle.errors?.['minlength']" class="errorMsg">Nome deve ter pelo menos 3 caracteres!</span>
                <span *ngIf="formTitle.errors?.['required']" class="errorMsg">Nome não poder estar em branco!</span>
            </ng-container>
        </div>
        <div>
            <!-- 
                Observações input descrição
                    -> Utiliza o addForm
                    -> Só mostra o erro se o addForm tiver sido submetido antes
             -->
            <label for="description">Descrição: </label>
            <input id="description" type="text" name="description" ngModel required>
            <ng-container *ngIf="addForm.submitted">
                <span *ngIf="addForm.controls['description']?.invalid" class="errorMsg">Descrição não poder estar em branco!</span>
            </ng-container>
        </div>
        <div>
            <!-- 
                Obs input data
                    -> Não pode utilizar ngModel associado a uma variável no ts
                    -> mostra o erro caso o form já tenha sido submetido
                    -> Checa por date.errors primeiro e depois usa obj['key'], sem precisar do '?'
             -->
            <label for="date">Data de Vencimento: </label>
            <input id="date" type="date" ngModel name="date" required #date="ngModel" [max]="getCurrentDate()">
            <ng-container *ngIf="date.errors && addForm.submitted">
                <span *ngIf="date.errors['required']" class="errorMsg">Data não poder estar em branco!</span>
            </ng-container>
        </div>
        <div>
            <!-- 
                Observações input custo
                    -> Utiliza o addForm
                    -> Só mostra o erro se o addForm tiver sido submetido antes
             -->
            <label for="cost">Custo: </label>
            <input id="cost" type="number" name="cost" ngModel required min="0">
            <ng-container *ngIf="addForm.submitted">
                <span *ngIf="addForm.controls['cost']?.errors?.['required']" class="errorMsg">Custo não poder estar em branco!</span>
                <span *ngIf="addForm.controls['cost']?.errors?.['min']" class="errorMsg">Custo precisa ser maior ou igual a 0 (zero)!</span>
            </ng-container>
        </div>
        <div>
            <label for="status">Status: </label>
            <select id="status" name="status" required ngModel #status="ngModel">
                <option value="">Selecione um status</option>
                <option value="A Fazer">A Fazer</option>
                <option value="Em Desenvolvimento">Em Desenvolvimento</option>
                <option value="Finalizada">Finalizada</option>
            </select>
            <ng-container *ngIf="addForm.submitted">
                <span *ngIf="status.invalid" class="errorMsg">Status não poder estar em branco!</span>
            </ng-container>
        </div>

        <button type="submit">Adicionar Tarefa!</button>
    </form>
</div>